@inherits LayoutComponentBase

<div>
	<MudThemeProvider Theme="_currentTheme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
	<MudLayout>
		<MainLayout>
			@Body
		</MainLayout>
	</MudLayout>
</div>